[Unit]
Description=riskhub
After=network.target

[Service]
Type=simple
User=risk
Group=risk
WorkingDirectory=/home/risk/riskhub
Environment=LD_LIBRARY_PATH=.
ExecStart=/home/risk/riskhub/riskhub

# systemctl --version newer than 240
# StandardOutput=append:/var/log/riskhub/riskhub.log
# StandardError=append:/var/log/riskhub/riskhub.err
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=riskhub

Restart=on-failure

[Install]
WantedBy=multi-user.target